<!DOCTYPE html>
<html>
<head>
    <title>Filter</title>
    <script>
        function filterDataset() {
            const filterParams = {

            };
        }
    </script>
</head>
<body>
    <h2>Filter</h2>
    <input type="text" id="textInput" onkeyup="" placeholder="Search something..."/>
    <% if (typeof error !== 'undefined') { %>
        <p style="color: red;"><%= error %></p>
      <% } %>
</body>
</html>